input {display: block; margin-bottom: 20px;}

body{
    background-color: #F8E2FD;
    margin-left: 200px;
}
#myform{
    font-family: 'Hi Melody', cursive;
    position: fixed;
    font-size: 2em;
    width: 400px;
    height: 400px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    background-color: rgb(143, 46, 67);
    border-radius: 25px;

}
h1{
font-family: 'Delius Swash Caps', cursive;
text-align: center;
}

.invisible { display: none;}

canvas {position: fixed;
    width:370px ;
    Height:500px;
    right: 0;
    bottom: 0;
  }

  
.container {
    position: relative;
    text-align: center;
}    
.visible {
display: block;
position: fixed;
width: 500px;
height: 500px;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
left: 0;
right: 0;
bottom: 200px;
font-size: 2.5em;
color:aliceblue;
background-color: #FE89CF;
font-family: 'Hi Melody', cursive;
margin-left:550px;
margin-top:150px;
border-radius: 25px;
text-align: left;

}

.cake {
    position: fixed;
    padding-left: 20px;
    padding-top: 20px;
    margin: 5% auto;
    left: 0px;
    right: 272px;
    bottom: 1px;
}

.bg{
background-image: url('images/batter.png');
} 

footer{
    position: fixed;
    bottom: 0;
    left: 0;
}