.menu {
    --color: #fff;
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    outline: none;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    -webkit-appearence: none;
    -webkit-tap-highlight-color: transparent;
   
       
    }
    
                


html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}


