@import url('https://fonts.googleapis.com/css?family=Courier+Prime|Gayathri|Pacifico&display=swap');
@media only screen and (max-width: 600px) { 


    body {
        justify-content: space-between;
        max-width: 500px;
        margin-left: 30px;
        margin-right: auto;
    }
      
    
    header{
    width: 400px;
    text-align: center;
    height: 100%;
    
    }
    header h1, header h2{
        margin-left: 4em;
    }
    body{
    background-image: url(images/bg.png);
    background-repeat: repeat; 
    background-color: #FFFCF9;
    max-width: 400px;
    font-family: 'Courier Prime', monospace;
    color: rebeccapurple;
    text-align: center;
    margin: auto;
    }
    .column {
    margin: 2em;
    list-style-type: none;
    text-decoration: none;
    padding-bottom: 30px;
    height: 200px;
    border-bottom: 2px solid  #FFFCF9;
    }
    
    .column ul{
    padding: 0;
    margin: 0;
    }
    
    .column ul li {
    list-style-type: none;
    }
    .column:last-child {
    border: none;
    }
    
    .column:nth-child(2), .column:nth-child(3) {
    border-top: none
    }
    main{
        background-color: #EDF2E1;
        box-shadow: 2px 2px 4px 4px #A582BF;
        border-radius: 25px;
    }
    
    #mySketch { 
        margin-left: 12em;
        box-sizing: border-box;
        width: 500;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 4px 4px #A582BF;
    
    }
    .row{
        width: 50em;
    }
    main{
        width: 50em;
        background-color: #EDF2E1;
        box-shadow: 2px 2px 4px 4px #A582BF;
        border-radius: 25px;
    
    }
    h1{
        font-family: 'Pacifico', cursive;
        color: #604D53;
        text-shadow: 2px 2px 4px  rgb(169, 144, 189);
    
    }
    h2{
        font-family: 'Gayathri', sans-serif;
        color: #45315E;
    }
    .column h2:hover, .column a:hover {
        opacity: 0.4;
        transition: 0.3s;
      }
    
    nav{
        padding: 10px;
    }
    nav ul li a:link{
        text-decoration: none;
        color: #E15A97;
    }
    nav ul li a:visited{
        text-decoration: none;
        color: rgb(45, 93, 248);
    }
    
    footer{
        background-color: #FFC9DC;
        color: #EDF2E1;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        
    }
    
    }

@media only screen and (min-width: 600px) { 
    
    .row, .column {
        width: 30%;
    }    
    
header{
    width: 1000px;
    text-align: center;
    height: 100%;
   
    }
    header h1, header h2{
        margin-left: 8em;
    }
body{
    background-image: url(images/bg.png);
    background-repeat: repeat; 
    background-color: #FFFCF9;
    max-width: 1200px;
    font-family: 'Courier Prime', monospace;
    color: rebeccapurple;
    text-align: center;
    margin: auto;
    padding-left: 70px;
}
.column {
    margin: 2em;
    list-style-type: none;
    text-decoration: none;
    padding-bottom: 30px;
    height: 450px;
    border-right: 2px solid  #FFFCF9;
  }
  
  .column ul{
    padding: 0;
    margin: 0;
  }

  .column ul li {
    list-style-type: none;
  }
  .column:last-child {
    border: none;
  }
  
  .column:nth-child(2), .column:nth-child(3) {
    border-left: none
  }
#mySketch { 
    margin-left: 12em;
    box-sizing: border-box;
    width: 800px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 4px 4px #A582BF;

}
.row{
    width: 50em;
}
main{
    width: 50em;
    background-color: #EDF2E1;
    box-shadow: 2px 2px 4px 4px #A582BF;
    border-radius: 25px;

}
h1{
    font-family: 'Pacifico', cursive;
    color: #604D53;
    text-shadow: 2px 2px 4px  rgb(169, 144, 189);

}
h2{
    font-family: 'Gayathri', sans-serif;
    color: #45315E;
}
.column h2:hover, .column a:hover {
    opacity: 0.4;
    transition: 0.3s;
  }
.row{
display: flex;
}

.column{
    flex: 50%;
}
nav{
    padding: 30px;
}
nav ul li a:link{
    text-decoration: none;
    color: #E15A97;
}
nav ul li a:visited{
    text-decoration: none;
    color: rgb(45, 93, 248);
}

footer{
    background-color: #FFC9DC;
    color: #EDF2E1;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    
}

}
