@media only screen and (min-width: 600px) { 
    main { display: flex;
        justify-content: space-between;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
    .row, .column {
        width: 30%;
    }    
    }
header{
    width: 1000px;
    text-align: center;
    height: 100%;
   
    }
    header h1, header h2{
        margin-left: 8em;
    }
body{
    background-image: url(images/bg.png);
    background-repeat: repeat; 
    background-color: #FFFCF9;
    max-width: 1200px;
    font-family: 'Courier Prime', monospace;
    color: #AEE22B;
    text-align: center;
    margin: 0;
}
li {
    margin: 2em;
    list-style-type: none;
    text-decoration: none;
   
  }
  
   ul{
    padding: 0;
    margin: 0;
  }

  ul li {
    list-style-type: none;
    color: #45315E;

  }
  nav:last-child {
    border: none;
  }
  
  nav:nth-child(2), .column:nth-child(3) {
    border-left: none
  }
.block{
    margin-left: 12em;
    box-sizing: border-box;
    background-color:#2EF2A0;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
row{
    width: 50em;
}
main{
    width: 1000px;
    background-color: #EDF2E1;
    margin-right: 10px;
}

article{
    padding-right: 10px;
}
h1{
    font-family: 'Pacifico', cursive;
    color: #604D53;
    padding-right: 2em; 
    padding-left: 1em;
}
h2{
    font-family: 'Gayathri', sans-serif;
    color: #45315E;
}
.column h2:hover, .column a:hover {
    opacity: 0.4;
    transition: 0.3s;
  }
.row{
display: flex;
}

.column{
    flex: 50%;
}
nav{
    padding: 30px;
}
nav ul li a:link{
    text-decoration: none;
    
}
footer{
    background-color: #FFC9DC;
    color: #EDF2E1;
    width: 50em;
    padding: 10px;
}






